<div class="container">

    <ngb-alert [type]="'success'" *ngIf="success" (closed)="close()">{{ msg }}</ngb-alert>
    <ngb-alert [type]="'danger'" *ngIf="failure" (closed)="close()">{{ msg }}</ngb-alert>

    <h3>Login</h3>

    <form [formGroup]="formGrp">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" formControlName="email" id="email" placeholder="name@example.com">
            <div *ngIf="formGrp.controls['email'].hasError('email')" id="emailvalidation"
                style="display: inline !important;" class="invalid-feedback">
                Please enter a valid email.
            </div>
            <div *ngIf="formGrp.controls['email'].hasError('required') && formGrp.controls['email'].dirty==true"
                id="emailvalidation" style="display: inline !important;" class="invalid-feedback">
                Email cannot be left blank.
            </div>

        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password" id="password">
            <span [ngSwitch]="form.password.value.length">
                <div *ngSwitchCase="4" style="color: rgb(209, 60, 60);">
                    Weak Password
                </div>
                <div *ngSwitchCase="7" style="color: rgb(236, 201, 86);">
                    Average Password
                </div>
                <div *ngSwitchCase="10" style="color: rgb(97, 240, 84);">
                    Strong Password
                </div>
                <div *ngSwitchDefault>
                </div>
            </span>
            <div *ngIf="formGrp.controls['password'].hasError('required') && form.password.dirty" id="emailvalidation"
                style="display: inline !important;" class="invalid-feedback">
                Password cannot be left blank.
            </div>
            <div *ngIf="formGrp.controls['password'].hasError('minlength') && formGrp.controls['password'].dirty==true"
                id="emailvalidation" style="display: inline !important;" class="invalid-feedback">
                Email cannot be left blank.
            </div>
        </div>

    </form>
    <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button" [disabled]="formGrp.invalid" (click)="login()">LOGIN</button>
        <button class="btn btn-link" type="button" (click)="navigate()">New User? Create Account</button>
    </div>

</div>