<div class="time">
    <!-- Signup Start at: {{currentTime}} -->
    {{printTimeLeft()}}
</div>
<div class="container">
    <h3>Hello {{userType}}, Create an Account</h3>

    <form>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password">
        </div>
        <div class="mb-3">
            <label for="fullName" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="fullName" placeholder="Full Name">
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <textarea class="form-control" id="address" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">MobileNo</label>
            <input type="number" class="form-control" placeholder="10 digit mobile no">
        </div>
    </form>
    <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button" (click)="signup()">CREATE
            ACCOUNT</button>
        <button class="btn btn-link" type="button">Already Have an account? Login</button>
    </div>

</div>