<h3>{{'title' | translate }}</h3>
<form [formGroup]="formGrp" class="form">

  <div class="mb-3">
    <label for="productName" class="form-label">{{'lblProductName' | translate}}</label>
    <input type="text" class="form-control" id="name" placeholder="Product Name" formControlName="name">
    <div *ngIf="form.name.hasError('required') && form.name.touched" style="display: inline !important;"
      class="invalid-feedback">
      Product Name is required.
    </div>
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">{{'lblDescription' | translate}}</label>
    <textarea class="form-control" formControlName="description">
    </textarea>
    <div *ngIf="formGrp.controls['description'].hasError('required') && formGrp.controls['description'].dirty==true"
      style="display: inline !important;" class="invalid-feedback">
      description cannot be left blank.
    </div>
  </div>

  <div class="mb-3">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="isDisabled" formControlName="isDisabled">
      <label class="form-check-label" for="isDisabled">
        {{'lblDisabled' | translate}}
      </label>
    </div>
  </div>

  <div class="mb-3">
    <label for="businessName" class="form-label">{{'lblBatchNo' | translate}}</label>
    <input type="text" class="form-control" id="name" placeholder="Product Name" formControlName="batchNo">
    <div *ngIf="form.batchNo.hasError('batchError') && form.batchNo.touched" style="display: inline !important;"
      class="invalid-feedback">
      Batch No is Invalid.
    </div>
  </div>


  <div class="mb-3">
    <label for="sizes" class="form-label">{{'lblCategory' | translate}}</label>
    <select class="form-select" formControlName="categoryId">
      <option [value]="c._id" *ngFor="let c of categories">{{c.name}}</option>
    </select>
    <div *ngIf="formGrp.controls['categoryId'].hasError('required') && formGrp.controls['categoryId'].dirty"
      style="display: inline !important;" class="invalid-feedback">
      Category is mandatory
    </div>
  </div>

  <div class="mb-3">
    <label for="sizes" class="form-label">{{'lblSize' | translate}}</label>
    <select class="form-select" multiple formControlName="sizes">
      <option value="S">S (Small)</option>
      <option value="L">L (Large)</option>
      <option value="M">M (Medium)</option>
      <option value="XL">XL (Extra Large)</option>
    </select>
    <div *ngIf="formGrp.controls['sizes'].hasError('required') && formGrp.controls['sizes'].dirty==true"
      style="display: inline !important;" class="invalid-feedback">
      Please select atleast one size
    </div>
  </div>

  <div class="mb-3">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" formControlName="isDiscount">
      <label class="form-check-label" for="flexCheckDefault">
        {{'lblDiscountApplicable' | translate}}
      </label>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label">{{'lblPrice' | translate}}</label>
    <input type="number" class="form-control" id="price" [placeholder]="'plPrice' | translate" formControlName="price">
    <div *ngIf="form.price.hasError('required') && form.price.touched" style="display: inline !important;"
      class="invalid-feedback">
      {{'errPriceReq' | translate}}
    </div>
  </div>

  <div class="mb-3" *ngIf="form.isDiscount.value">
    <label class="form-label">Discount Rate</label>
    <input type="number" class="form-control" id="discountRate" placeholder="Discount Rate"
      formControlName="discountRate">
    <div *ngIf="form.discountRate.hasError('required')" style="display: inline !important;" class="invalid-feedback">
      Discount Rate is required.
    </div>
    <div *ngIf="formGrp.hasError('discountFixedError') && (form.discountRate.touched || form.discountRate.dirty) "
      style="display: inline !important;" class="invalid-feedback">
      Discount Rate cannot be more than the product price
    </div>
    <div *ngIf="formGrp.hasError('discountPercentError') && (form.discountRate.touched || form.discountRate.dirty) "
      style="display: inline !important;" class="invalid-feedback">
      Discount Rate cannot be more than 100%
    </div>
  </div>

  <div class="mb-3" *ngIf="form.isDiscount.value">
    <label for="sizes" class="form-label">Select Discount Type</label>
    <select class="form-select" formControlName="discountType">
      <option [value]="c" *ngFor="let c of ['FIXED','PERCENTAGE']">{{c}}</option>
    </select>
    <div *ngIf="formGrp.controls['discountType'].hasError('required') && formGrp.controls['discountType'].dirty"
      style="display: inline !important;" class="invalid-feedback">
      Discount Type is mandatory
    </div>
  </div>

  <div class="mb-3">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="isTaxExclusive" formControlName="isTaxExclusive">
      <label class="form-check-label" for="flexCheckDefault">
        Is Tax Exclusive ?
      </label>
    </div>
  </div>

  <div class="mb-3" *ngIf="form.isTaxExclusive.value">
    <label for="sizes" class="form-label">Select Tax Type</label>
    <select class="form-select" formControlName="taxType">
      <option [value]="c" *ngFor="let c of ['FIXED','PERCENTAGE']">{{c}}</option>
    </select>
    <div *ngIf="formGrp.controls['taxType'].hasError('required') && formGrp.controls['taxType'].dirty"
      style="display: inline !important;" class="invalid-feedback">
      Tax Type is mandatory
    </div>
  </div>

  <div class="mb-3" *ngIf="form.isTaxExclusive.value">
    <label class="form-label">Tax Rate</label>
    <input type="number" class="form-control" id="discountRate" placeholder="Tax Rate" formControlName="taxRate">
    <div *ngIf="form.taxRate.hasError('required')" style="display: inline !important;" class="invalid-feedback">
      Tax Rate is required.
    </div>
  </div>



  <div class="mb-3">
    <label for="quantity" class="form-label">{{'lblQty' | translate}}</label>
    <input type="number" class="form-control" id="name" placeholder="quantity" formControlName="quantity">
    <div *ngIf="form.quantity.hasError('required') && form.quantity.touched" style="display: inline !important;"
      class="invalid-feedback">
      Qtantity is required.
    </div>
  </div>

  <div class="form-array">
    <button type="button" class="btn btn-outline-danger" (click)="addDimension()">Add Dimension</button>
    <div class="dimension" formArrayName="dimensions">
      <ng-container *ngFor="let dimensionForm of dimensions.controls;let i=index">
        <div class="form-row" [formGroupName]=i>
          <div class="mb-3">
            <label class="form-label">Height</label>
            <input type="number" class="form-control" id="price" placeholder="Height" formControlName="height">
          </div>
          <div class="mb-3">
            <label class="form-label">Width</label>
            <input type="number" class="form-control" id="price" placeholder="Width" formControlName="width">
          </div>
          <div class="mb-3">
            <label class="form-label">Weight</label>
            <input type="number" class="form-control" id="price" placeholder="Weight" formControlName="weight">
          </div>
          <div class="mb-3">
            <label class="form-label">Length</label>
            <input type="number" class="form-control" id="price" placeholder="length" formControlName="length">
          </div>
          <button type="button" class="btn btn-outline-danger" (click)="deleteDimension(i)">Remove</button>
        </div>
      </ng-container>
    </div>
  </div>

</form>
<div>
  <button class="btn btn-link" [disabled]="loading" type="button" (click)="cancel()">Cancel</button>
  <spin-button [label]="'Save Product'" [showLoader]="loading" (onClicked)="createProduct()"></spin-button>
</div>